/* Mixins
-------------------------------------------------------------- */

*,
*::before,
*::after,
input{
	box-sizing: border-box;
}

@mixin container {
	max-width: 1599px;
	width: 100%;
	margin: 0 auto;
	padding: 0 16px;
}

@mixin clearfix {
	&:after {
		content: "";
		display: table;
		clear: both;
	}
}
@mixin placeholder() {
	&::-webkit-input-placeholder {@content;}
	&::-moz-placeholder          {@content;}
	&:-moz-placeholder           {@content;}
	&:-ms-input-placeholder      {@content;}
}
